.Status {
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}
.road-img{
    width: 100px;
}
.mail{
    font-size: 15px;

}
.cmnt{
    font-size : 40px;
}
.opinions
{
    padding: 10%;
}
.users{
    background-color:white;
    padding : 20px;
    text-align: center;
}

.avgRating
{
    color: white;
    font-size: 20px;
    font-weight: bolder;
}
